@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Recursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');


body{
	background-color:white;background-image:url(CVimages/fond.png);
	margin-top: 35px; margin-right: 100px; margin-left: 100px;
}
h2 {float: right;width: 950px;letter-spacing: 3pt;line-height: 80%;
text-align: center;/* margin-top:50;*/ color: #081297; font-size: 16pt;
font-family: 'Recursive', sans-serif;padding-top: 0px; padding-bottom: 0px;
border-bottom: 0.5rem solid #081297;padding-bottom: 15px;
}
p{float: right;margin: 0;width: 950;text-align: center;font-size: 13pt; font-weight: bold;
	font-family: 'Recursive', sans-serif;padding-top: 8px;
}
ul li {
	margin: 0;padding: 0;
}
h1 {float: right;text-align: center;width: 950;line-height: 50%;
	font-size: 20pt; color: #081297;letter-spacing: 3pt;
	font-family: 'Recursive', sans-serif;padding-top: 0px; padding-bottom: 0px;
}
a {
	font-size: 10pt;color: blue;
	font-family: 'Recursive', sans-serif;
}
span: first-of-type{
	display: inline-block;word-wrap: break-word;width: 20%;
}
/*.top{margin-right: 250px;
	float: right;
}*/
.photo {
	float: left;height: 200; width:180px; margin-top: 50px;margin-right: 30px;
   clip-path:ellipse(48% 45%);
}
h3 {font-size: 14pt;color: black;font-weight: bold;letter-spacing: 3pt;
	font-family: 'Recursive', sans-serif;text-align: left; margin-right: 50px;
}
h4{font-size: 14pt; font-weight: bold;margin: 0px;padding-top: 10px;padding-bottom: 10px;
	font-family: 'Recursive', sans-serif;	
}
h5{font-size: 12pt; font-weight: bold;
	font-family: 'Recursive', sans-serif;	margin: 0px;
}
.expériences {
	float: left;margin-top: 0px;margin-right: 0px; text-align: center;width: 880px;
}
#expériences table td{
	font-size: 13pt;font-weight: bold;text-align: center;width: 25%;background-color: #ACB2B2;
}
#expériences table th{
	margin-left: 10px; font-size: 12pt; font-weight: normal;text-align: justify;display: inline-block;
	width: 95%;
}
.capacités{
	float: right;width : 335px;margin-left : 0px;margin-top: 0px;
}
#capacités table td{background-color: #ACB2B2;
	font-family: 'Recursive', sans-serif;
	font-size: 11pt;font-weight: bold;text-align: center;width: 50%;
}
#capacités table th{padding-right: 10px;padding-left: 10px; background-color: #5898B8;line-height: 1.5;
	font-family: 'Recursive', sans-serif;font-size: 10pt;
	font-weight: normal;text-align: left;padding-top: 10px;padding-bottom: 10px;
	width: 100%;
}
.Listecap{
	float: right;width : 335px;margin-top: 0px;background-color: #5898B8;
}
#Listecap{
	padding-bottom: 0px;padding-top: 0px;
}
p1{padding-bottom:0px;text-align: left;letter-spacing: 2pt;
	font-size: 12pt; font-weight: normal;color: white;width: 335px;
	font-family: 'Recursive', sans-serif;
}
hr{padding-bottom: 0px;padding-top: 0px;
	width:100px; background-color: #081297; width: 80%; height: 8px;
}
br{line-height: 17px}
/*hr:after{
	background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    bottom: -13px;
}*/