
@media (max-width: 360px) { 
  body{
    max-width: 100%;
    justify-content: center;
  } 
}

@media (max-width: 480px) { 
  body{
    max-width: 100%;
    justify-content: center;
  } 
}

@media (max-width: 600px) { 
  body{
    max-width: 100%;
    justify-content: center;
  } 
}

@media (max-width: 750px) { 
   body{
    max-width: 100%;
    justify-content: center;
   }
}

@media (max-width: 992px) {
   body{
    max-width: 100%;
    justify-content: center;
  }
}


