body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
font-family: 'Roboto', sans-serif;}
	

#grille{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	grid-column-gap: 50px;
  	grid-row-gap: 50px;
  	grid-auto-rows: minmax(12px, auto);
  	margin-top: 20px;
}

.recette{
	display: flex;
	flex-direction: column;
	align-items: center;
}


header{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    /*border-bottom: 2px solid #000000;*/
    background-color: #ce0033;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav{
    width: 100%;
    height: 120px;
    display: inline-block;
    justify-content: space-around;
    background-color: #ce0033;
    font-family: 'Roboto', sans-serif;
}

nav img{
    float: left;
    max-width: 90px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom : 10px;
}

h1{
    /*margin-top: 40px;*/
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

section{
/*    height: 500px;*/
    display: flex;
    flex-direction: column;
    margin: 50px;
}

h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


/*menu déroulant*/
.boutonmenuprincipal {
    color: white;
    font-size: 25px;
    border: none;
    background-color: #ce0033;
    cursor: pointer;
    /*margin: 10px;
    border-radius: 50px;*/
}

.boutonmenuprincipal:hover {
    color: orange;
}

.dropdown {
    margin-right: 20px;
    float: right;
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: right;
    max-width: 500px;
    min-width: 200px;
    background-color: #ce0033;
    border: 2px solid white;
    /*border-radius: 50px;
    margin-left: 33%;*/
}

.dropdown-child {
    display: none;
    background-color: #ce0033;
    min-width: 50px;
}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
    /*border-radius: 50px;*/
}

.dropdown a:hover{
    color: orange;
}

/*fin menu déroulant*/


.photo_recette{
	height: 150px;
	max-width: 200px;
	border: solid;
	border-radius: 10%;
	border-width: 3px;
	border-color: #6c757d;}



/* FOOTER*/

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: auto;
    text-align: justify;
    background-color: black;
    /*border-top: 2px solid #000000;*/
}

footer .textfooter{
    flex: 1;
}

.textfooter{
    text-align: center;
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 10px;
    padding: 10px;
}

.textfooter a{
    text-decoration: none;
    color: white;
}

.textfooter a:hover{
    color: orange;
}

#sitemap{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 10px;
    padding: 10px;
    /*border: 2px solid #000000;
    border-radius: 20px;*/
}

#sitemap h3{
    margin: 0;
    margin-bottom: 5px;
    text-align:center;
    color: white;
}

#sitemap a{
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 8px;
}

#sitemap a:hover{
    color: orange;
}

/* FIN FOOTER */
