html {align-item:center;}
body{
	/*background-color:#FFF120;*/
	font-family: calibri;
	color:#17365d;
	margin-top:20px;
	margin-right:auto;
	margin-bottom:50px;
	margin-left:auto;
	width:100%;
	/*color: red;*/
	display:flex;
	flex-direction:column;
	align-items: center;
}
#entete
{
	background-color:#C4BD97;
	padding: 0 10px 0 0;
	/*margin: 0;*/
	/*width: 1000px;*/
	height:200px;
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: center;
}
#entete_gauche
{
	align-self: stretch;
}
#entete_droite
{
	text-align: right;
	
}
#barre_horizontale
{
	height: 30px
}
img
{
	height :200px;
}
h1
{
	/*background-color: lightgrey;*/
	margin:10px;
	font-family: 'Carrois Gothic', sans-serif;
	font-weight:bold;
	font-size:200%;
	
}
h2
{
	/*background-color: lightgrey;*/
	margin:10px;
	font-family: 'Carrois Gothic', sans-serif;
	font-weight:bold;
	font-size:180%;
	
}
h3
{
	/*background-color: lightgrey;*/
	margin: 0 0 10px 0;
	font-family: 'Carrois Gothic', sans-serif;
	font-size:120%;
	font-weight: bolder;
	
}
h4
{
	/*background-color: lightgrey;*/
	margin:10px;
	font-family: 'Carrois Gothic', sans-serif;
	font-size:120%;
	font-weight: lighter;
}
h5
{
	/*background-color: lightgrey;*/
	margin: 0 10px 0 0;
	font-size:120%;
	font-weight: bolder;
}
h6
{
	/*background-color: lightgrey;*/
	margin:0px;
	font-family: calibri, sans-serif;
	font-size:100%;
	font-weight: lighter;
	
}
h6.titre_formation
{
	font-weight: bolder;
	margin-top:10px;
}
.lieu_experience
{
	margin: 0;
	font-size:100%;
	font-weight: bolder;
	color:#C4BD97;
}

p
{
	margin:0;
}
p.contenu_formation
{
	margin-bottom: 20px;
	color:#C4BD97;

}

ul.contenu_gauche
{
	list-style:none;
	margin-left:0;
	padding-left:0;
	font-weight:bold;
	margin-top:0;
	margin-bottom:10;
}
ul.contenu_experience
{
	list-style-type: '-';
	margin-left:0;
	padding-left:20;
	margin-top:0;
	margin-bottom:10;

}
#corps_CV
{
	/*background-color: grey;*/
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: flex-start;
	/*justify-content:space-between;*/
	/*padding: 0 10px 0 10px;*/
	/*max-width:720px;*/
}
#gauche
{
	padding : 10px 10px 10px 10px;
	text-align: right;
	width:200px;
}
#droite
{
	padding : 10px 10px 10px 10px;
	border-style: solid;
	border-width: 0 0 0 5px;
	border-color: #C4BD97;
	text-align: left;
	width:400px;
}