@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Roboto&display=swap');

body{
	background: #E4E4E4;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #8b8e94;
	text-align: justify-all;
}

main{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	float: left;
	align-content: space-around;
	height: 100%;
	padding: 10px 10px 10px 10px;
	margin: 30px 10px 10px 10px;
}

h1,h3 {
  color: #000000;
  line-height: 1.5;
  font-family: 'Londrina Solid', cursive;
}

h1 {
  font-size: 46px;
}

h3 {
  font-size: 28px;
}

ul {
	margin:10;
    padding:10;
    list-style-type: "* ";
    line-height: 20px;
}

ol {
	margin:10;
    padding:10;
  	line-height: 20px;
}

/*titre, intro, photo*/
header{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: space-between;
	align-content: space-between;
}

.intro{
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
/*image pain header*/
.pain1{
	width: 40%;
	margin-right: auto;
	margin-left:auto;
}

/*durée + ingrédients*/
aside{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
	position: relative;
	width: 30%;
	height: 100%;
	text-align: left;
	background-color: #E0A3BC;
    line-height: 20px;
    padding: 20px;
	margin: 20px;

}
/*image pain aside*/
.pain2{
	width: 100%;
}

}
/*étapes + remarques*/
.article{
	 background-color: #E0A3BC;
}