html
{
  height: 100%;
  background-image:url(images/fond.png)
}

body
{	font-family: 'optima', sans-serif;
  	text-align: center;
  	font-weight: bold;
}

h1
{
	font-size: 50px;
	color: #D35400;
	margin-top: 60px;
}

h2
{
	font-size: 25px;
	margin-top: 40px;
	margin-bottom: 30px;
	color: #E67E22;
	text-decoration: underline;
}

h3
{
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #E67E22;
}


