/*p { font-family:"trebuchet ms"; 
font-size:22px; 
color:#252525;}*/

body{
font-style: italic;
background-color: brown;
font-weight: bolder;
}
#droite{
	background-color: normal;
	float: right;
	width: 50%;
	font-weight: bolder;
	color: normal;}
#formation{background-color: normal;}


 
MON  ENTREPRISE I 

LA REMUNERATION DES SALRIES

