@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bangers&display=swap');

body{
    background: linear-gradient(to left, #d8c068, #f1f1f1, #d8c068);
    letter-spacing: 2px;
}
h1, h2, h3{
    font-family: 'Bangers', cursive;

}
li, p{
    font-family: 'Abril Fatface', cursive;
}