

.containertop{
	display: grid;  
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto; 
	grid-gap: 40px;
}

.conteneurbarre{
	display: grid;
	grid-template-columns: 100%; 
	justify-content: start;
}

/*.container{
	display: grid;  
    grid-gap: 15px;  
    grid-template-columns: 80%;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}*/


.conteneurbarre2{
	display: grid;
	grid-template-columns: 100%; 
	justify-content: start;
}

.containercontact{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
	grid-gap: 40px;
}


.Photo {
    float: left;
    margin-right: 40px;
    margin-bottom: 80px;
}






