#conteneur {
    margin :  auto;
    width : 400px;
    }
header {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size:18px;
	color: #05105A;
	background-color :#A2A3A7;
	margin-right: 165px;
	
}
.bloc { display: inline-block;
	margin-left: 30px;
}


h1 {
	color: #1F233C;
}
body, h1 {
	background-color: #E5E6EA;

}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size:12px;
	width: 90%;
	position: absolute;
	right: 5%;


}


div#colonne1 {
	float: left;
	width: 270px;
	height :1300px;
	background: blue;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 18px;
	color: white;
	text-align:center;
	list-style-position:margin-right;

} 

.diplome {
	text-align : left;
}

.intérêts {
	text-align : left;
	margin-left:22px;
}

div#colonne2 {
	padding-top: 2px;
	width: 1050px;
	height :1280px;
	background: white;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-size: 12px;
	color: black;
	text-align:left;
	list-style:left;
	list-style-position: inside;
	
	
}
